
.textbox {
    background-color: lavender;
}
.button {
    background-color: plum;
}
.footer {
    background-color: aliceblue;
}
.nav {
    background-color: cornflowerblue;
}
.text {
    color: darkblue;
}
